 <div id="profile" style='color: {{DarkMuted}}'>

            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                    <h5>About me</h5>
                    <p>
                        In 2019 I graduated from OSU with a BS in Applied Computer Science (Cybersecurity), and am
                        currently living in
                        Seattle,
                        WA. I am also a
                        <a href="https://mixcloud.com/martinradio/">DJ</a> who uploads rare records <a
                            href="http://www.martinradio.com">online</a>, and creates music-related
                        software <a href="http://martinbarker.me/projects">projects</a> that benefit the
                        online music community.
                </div>

                <div class="col-md-4 text-center">
                    <div width="246" height="246">
                        <!--
                    <img id='facePic' style='width:100%; position: relative; ' src="/static/images/headshot.jpg" >
                        -->
                    </div>
                </div>

                <div id='detailsDiv' class="col-md-4">
                    <h5>Details</h5>

                    <p>
                        <strong>Name:</strong><br>
                        Martin Anthony Barker<br>
                        <strong>Age:</strong><br>
                        22 years<br>
                        <strong>Location:</strong><br>
                        Seattle, WA </p>

                </div>
                </div>
            </div>


            <!--
            <h1>Martin Barker</h1>
            <p class="lead">Full-Stack Software Developer</p>
            <a href="./static/pdf/Martin Barker Resume 2020.pdf">Resume </a>
            <hr>
            -->
  
          

        </div>
    </div>



    <div id="experiences">

        <hr>

        <h6>Education</h6>

        <div class="experiences">
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

            <div class="experience row">
                <div class="col-md-4">
                    <h4>Oregon State University</h4>
                    <p class="experience-period">
                        September 2015 -
                        July 2019 </p>
                </div>
                <div class="col-md-8">
                    <p>
                        <strong>Bachelor - Applied Computer Science (Focus: Cybersecurity)</strong>
                        <span class="hidden-phone">
                            My applied CS degree gave me the unique perspective of software development
                            from a
                            cybersecurity view. My courses included programming in languages such as
                            Python, C++, C, as
                            well as bash and linux command line experience. I also took courses on web
                            devlopment using
                            NodeJS, HTML, CSS, Javascript, and Django. As well as database setup /
                            management with SQL
                            and PostgreSQL. My cybersecurity courses taught me computer networking
                            protocols and
                            security, as well as threat detection / response. </span>
                        <span class="experience-details">
                            <span class="location">
                                <i class="material-icons">place</i> Corvallis, OR </span>

                        </span>
                    </p>
                </div>
            </div>



        </div>
        <hr>
        <h6>Careers</h6>
        <div class="experiences">
            <!-- Zume, Inc -->
            <div class="experience row">
                <div class="col-md-4">
                    <h4>Zume, Inc</h4>
                    <p class="experience-period"> 
                        September 2019 - January 2020</p>
                </div>
                <div class="col-md-8">
                    <p>
                        <strong>DevOps Engineer (Software Engineer I)</strong>
                        <span class="hidden-phone">
                            Working at Zume before the Seattle office was laid off, I was able to get hands on experience with the full Devops pipeline of code deployment from a local environment to the production clusters. I created Kubernetes clusters from scratch in Google Cloud Platform (GCP), and installed Helm as well as ingress load balancers. I also wrote my own Helm charts and Dockerfiles, as well as created webhooks to trigger the Docker image build process in Jenkins. This process of installing services to different cluster environments (dev / perf / staging / prod) was automated by Spinnaker pipelines that I also wrote. I carried a security mindset throughout all my work, setting up alert monitoring and handling cluster authorization. 
                        </span>
                        <span class="experience-details">
                            <span class="location">
                                <i class="material-icons">place</i> Seattle, WA </span>
                            <span class="seperator">|</span>
                            <span class="link">
                                <a href="https://www.zume.com" target="_blank">Zume, Inc</a>
                            </span>
                        </span>
                    </p>
                </div>
            </div>
            <!-- moxiworks -->
            <div class="experience row">
                <div class="col-md-4">
                    <h4>MoxiWorks</h4>
                    <p class="experience-period">
                        June 2018 - August 2019</p>
                </div>
                <div class="col-md-8">
                    <p>
                        <strong>Fulltime - Quality Assurance Engineer</strong>
                        <span class="hidden-phone">
                            MoxiWorks is an expanding real estate tech startup located in Pioneer
                            Square. As a QA
                            engineer I write automated testing software in Java to cover the Moxi suite
                            of web products
                            as well as their external API. Our workflow uses agile development and
                            sprints to push out
                            new features, as well as git to maintain the shared repo we all work in.
                            This position has
                            helped strengthen my programming habits for writing scalable code meant to
                            be reused /
                            revisited by different people for years to come. It's also given me more
                            experience
                            communicating with a team through daily standup meetings. </span>
                        <span class="experience-details">
                            <span class="location">
                                <i class="material-icons">place</i> Seattle, WA </span>
                            <span class="seperator">|</span>
                            <span class="link">
                                <a href="https://www.moxiworks.com" target="_blank">moxiworks.com</a>
                            </span>
                        </span>
                    </p>
                </div>
            </div>
            <!-- kbvr -->
            <div class="experience row">
                <div class="col-md-4">
                    <h4>KBVR FM / TV</h4>
                    <p class="experience-period">
                        September 2016 -
                        April 2018 </p>
                </div>
                <div class="col-md-8">
                    <p>
                        <strong>Fulltime - Student Engineer</strong>
                        <span class="hidden-phone">
                            At Orange Media Network I worked as student engineer for OSU's TV / Radio
                            station KBVR FM /
                            TV. I was in charge of learning and teaching state-of-the-art media software
                            / hardware used
                            in our daily TV productions and radio broadcasts. I ran audio for
                            on-location OSU football
                            broadcasts, and was sent to the National Association of Broadcasters
                            convention in Las Vegas
                            by my college in 2015 / 2016. The position helped me gain experience in
                            learning new tech
                            outside my comfort zone, and teaching that technology to students in an
                            understandable way
                            devoid of technical jargon.</span>
                        <span class="experience-details">
                            <span class="location">
                                <i class="material-icons">place</i> Corvallis, OR </span>
                            <span class="seperator">|</span>
                            <span class="link">
                                <a href="http://www.orangemedianetwork.com" target="_blank">orangemedianetwork.com</a>
                            </span>
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <hr>
   