<!-- page main content -->
<div class="container-fluid" style='color: {{textColor5}}'>
    <div class="row">
        <!-- main content -->
        <main role="main" class="">
            
            <!-- page content  -->
            <div id="content">
                <div id="post-content" style="margin-top:-50px;">

                    <!-- tagger -->
                    <div>

                    </div>
                    <!-- Page Title / Intro -->
                    <h1 class="widgettitle"><strong>Generate a timestamped tracklist</strong></h1>
                    <div>Select multiple audio files or input a Discogs URL, and you will a timestamped tracklist,perfect for YouTube videos! </div>
                    <hr>

                    <!-- Input Option 1 -->
                    <h4 class="widgettitle"><strong>Input Option 1:</strong></h4>
                    
                    <form>
                        <input type="text" placeholder='Discogs release URL' name="url" id="urlInput">
                        <button id='urlInputButton' name="data" type="button" onclick="inputOption1(document.getElementById('urlInput').value)">Submit</button> Input a Discogs URL like <a href="https://www.discogs.com/Le-Car-Auto-Biography/release/41048">this</a>.
                    </form>
                    <hr>

                    <!-- Input Option 2 -->
                    <h4 class="widgettitle"><strong>Input Option 2:</strong></h4>
                    <input type="file" id="file" multiple="multiple"/>
                    <audio id="audio"></audio>
                    <hr>

                </div>
            </div>

        </main>
    </div>
</div>