<!-- page main content -->
<div class="container-fluid" style='color: {{textColor5}}'>
    <div class="row">
        <!-- main content -->
        <main role="main" class="">

            <!-- page content  -->
            <div id="content">
                <div id="post-content" style="margin-top:-50px;">

                    <!-- tagger -->
                    <div>

                    </div>
                    <!-- Page Title / Intro 
                    <h3 class="widgettitle">Generate a timestamped tracklist and comma-seperated tags</h2>
                    <div>Select multiple audio files or input a Discogs URL, and you will a timestamped tracklist,perfect for YouTube videos! </div>
                    <hr> -->

                    <!-- Input Option 1 
                    <h4 class="widgettitle"><strong>Input Option 1:</strong></h4> -->
                    <form>
                        Input a Discogs URL <input type="text" placeholder='Discogs release URL' name="url"
                            id="urlInput"> or <input type="file" id="file" class="" multiple="multiple" />
                    </form>
                    <br>
                    <button id='urlInputButton' name="data" type="button"
                        onclick="inputOption1(document.getElementById('urlInput').value)">Submit</button>

                    <!-- Input Option 2 
                    <h4 class="widgettitle"><strong>Input Option 2:</strong></h4> -->

                    <audio id="audio"></audio>
                    <hr>

                </div>
            </div>

        </main>
    </div>

    <style>

    </style>
</div>